/* style_admin.css */

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    background: url('/static/space.jpg');
    margin: 0;
    padding: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid transparent #dddddd;
    text-align: left;
    padding: 12px;
    background-color: #fff;
}

/* Header Styles */
th {
    background-color: #38448b; /* Green background color for header cells */
    color: white; /* White text color for header cells */
}

/* Row Styles */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background color for even rows */
}

/* Hover Styles */
tr:hover {
    background-color: #d3d3d3; /* Slightly darker gray background on hover */
}


/* Header Styles */
header {
    background-color: #0b1133;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

header .logo img {
    height: 50px; /* Adjust size as needed */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    display: inline; /* For main navigation */
    margin-right: 15px; /* For main navigation */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #ffffff; /* For main navigation */
    border-bottom: 2px solid transparent; /* For main navigation */
}

nav ul li a:hover {
    background-color: #ddd;
    border-bottom: 2px solid #ffffff; /* For main navigation */
}